<side-menu></side-menu>

<div layout="column" layout-padding layout-margin layout-align="center center">
  <div layout="column" layout-align="center center" class="logo-container md-whiteframe-4dp">
    <a href="https://ontimizeweb.github.io/docs/" target="_blank">
      <img src="./assets/images/ontimize_web_log.png">
    </a>
  </div>
  <div layout-padding flex="30">
    <p class="text">
    Besides Desktop and Mobile platforms, some applications require a browser-based user interface.
    Ontimize Web provides an environment for these situations, based on
    <a href="https://angular.io/" target="_blank">Angular 2</a> technology.
    </p>
  </div>
</div>
