.login-outer-container {
  min-height: 640px; }
  .login-outer-container .login-inner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 450px;
    padding: 5em;
    padding-top: 8em; }
    .login-outer-container .login-inner-container h1 {
      text-align: center;
      margin-bottom: 30px; }
    .login-outer-container .login-inner-container .logo-container {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: absolute;
      top: -75px;
      left: 50%;
      -webkit-transform: translate(-50%, 0%); }
      .login-outer-container .login-inner-container .logo-container img {
        max-height: 125px;
        max-width: 125px; }
    .login-outer-container .login-inner-container .session-expired {
      text-align: center; }
    .login-outer-container .login-inner-container button {
      width: 100%;
      margin: 30px 0px 0px 0px; }
