<o-form fxLayout="column" service="branches" entity="account" keys="accountid" columns="entityid;officeid;cdid;anid" show-header="yes"
  header-actions="R;U;D;I" #oForm class="standalone-form-container" keys-sql-types="INTEGER">
  <o-row title="ACCOUNT_INFO">
    <o-text-input attr="entityid" fxFlex layout-padding enabled="false"></o-text-input>
    <o-text-input attr="officeid" fxFlex layout-padding></o-text-input>
    <o-text-input attr="cdid" fxFlex layout-padding></o-text-input>
    <o-text-input attr="anid" fxFlex layout-padding></o-text-input>
  </o-row>
</o-form>
