<o-form class="o-flex-column" service="branches" entity="account" keys="ACCOUNTID" columns="ENTITYID;OFFICEID;CDID;ANID" show-header="yes"
  header-actions="R;U;D;I" #oForm class="standalone-form-container" keys-sql-types="INTEGER">
  <o-row title="ACCOUNT_INFO">
    <o-text-input attr="ENTITYID" class="o-flex" layout-padding enabled="false"></o-text-input>
    <o-text-input attr="OFFICEID" class="o-flex" layout-padding></o-text-input>
    <o-text-input attr="CDID" class="o-flex" layout-padding></o-text-input>
    <o-text-input attr="ANID" class="o-flex" layout-padding></o-text-input>
  </o-row>
</o-form>
