registry=https://nexus.imatia.com/repository/npm-group/
//nexus.imatia.com/repository/npm-group/:username=patricia.martinez
//nexus.imatia.com/repository/npm-group/:_password=cG10MS5pbWF0aWEuMjAyNA==
