<o-form layout="column" show-header="yes" label-header="CUSTOMERS" header-actions="R;U;D" entity="ECustomers" keys="CUSTOMERID"
  #oForm class="md-whiteframe-5dp" stay-in-record-after-insert="yes">


    <o-row attr="row1" layout-align="start stretch">
      <o-column title-label="CUSTOMER_DATA" layout-align="start stretch" elevation="2" flex="75" layout-padding>
        <div layout="row">
          <o-nif-input attr="ID" required="yes"></o-nif-input>
          <div layout-padding></div>
          <o-date-input attr="STARTDATE" required="yes"></o-date-input>
          <div flex></div>
        </div>

        <div layout="row">
          <o-text-input attr="NAME" flex layout-fill required="yes"></o-text-input>
          <div layout-padding></div>
          <o-list-picker attr="CUSTOMERTYPEID" query-on-init="no" query-on-bind="yes" required="yes"
            enabled="yes" filter="yes" value-column="CUSTOMERTYPEID" entity="ECustomerTypes" keys="CUSTOMERTYPEID" columns="CUSTOMERTYPEID;DESCRIPTION"
            visible-columns="DESCRIPTION" separator=" - "></o-list-picker>
        </div>
        <o-text-input attr="SURNAME"  layout-fill required="yes"></o-text-input>
      </o-column>
      <o-column flex="25" layout-align="center center">
        <o-image attr="PHOTO" layout-fill class="customer-picture" empty-image="./assets/images/no-image.png"></o-image>
      </o-column>
    </o-row>

    <div layout-padding></div>

    <o-column attr="other_data" layout-padding layout-align="start stretch">
      <o-text-input attr="ADDRESS" ></o-text-input>
      <o-email-input attr="EMAIL" ></o-email-input>
      <o-textarea-input attr="COMMENTS" rows="6"></o-textarea-input>
    </o-column>

</o-form>