 .branch-plan .input-image .input-image-preview {
    width: 400px;
    height: 340px;
}

.branches-detail {
    .vertical-margin-10 {
      margin: 10px 0;
    }
  
    .form-field {
      padding-bottom: 6px;
    }

    .o-map {
        height: 190px;
    }
  }