<o-form fxLayout="column" show-header="yes" header-actions="R;U;D" service="movements" entity="movement" keys="MOVEMENTID"
  columns="ACCOUNTID;ENTITYID;OFFICEID;CDID;ANID;CONCEPT;MOVEMENT;DATE_;MOVEMENTTYPEID;COMMENTS" layout-direction="row" class="rounded-panel form-account-transactions-detail">

  <o-column attr="col_left" fxFlex="60" layout-padding>
    <o-row attr="row1" title-label="ACCOUNT_NUMBER">
      <o-text-input attr="ENTITYID" enabled="no" layout-padding class="mask-field"></o-text-input>
      <o-text-input attr="OFFICEID" enabled="no" layout-padding class="mask-field"></o-text-input>
      <o-text-input attr="CDID" enabled="no" layout-padding class="mask-field"></o-text-input>
      <o-text-input attr="ANID" enabled="no" layout-padding></o-text-input>
    </o-row>

    <o-row attr="row2" title-label="MOVEMENT_DATA">
      <o-text-input attr="CONCEPT" layout-padding fxFlex></o-text-input>
      <o-currency-input attr="MOVEMENT" layout-padding required="yes" fxFlex></o-currency-input>
      <o-combo attr="MOVEMENTTYPEID" layout-padding query-on-init="no" query-on-bind="yes" enabled="yes" value-column="MOVEMENTTYPEID"
        service="movements" entity="movementType" keys="MOVEMENTTYPEID" columns="MOVEMENTTYPEID;DESCRIPTION" visible-columns="DESCRIPTION"
        required="yes" fxFlex></o-combo>
      <o-date-input attr="DATE_" layout-padding required="yes" fxFlex></o-date-input>
    </o-row>
  </o-column>

  <o-row attr="col_right" fxFlex="40" layout-padding>
    <o-textarea-input attr="COMMENTS" class="comments" rows="10" fxFill></o-textarea-input>
  </o-row>

</o-form>