<div fxLayout="column" >
  <div layout-padding layout-margin >
    <div fxLayoutAlign="center center">
    <a href="https://ontimizeweb.github.io/docs/" target="_blank" class="logo-container mat-elevation-z4">
      <img src="./assets/images/ontimize_web_log.png">
    </a>
    </div>
    
  </div>
    <div layout-padding fxFlex="30">
      <p class="text">
        Besides Desktop and Mobile platforms, some applications require a browser-based user interface. Ontimize Web provides an
        environment for these situations, based on
        <a href="https://angular.io/" target="_blank">Angular</a> technology.
      </p>
    </div>

</div>
