<div class="o-flex-column o-layout-align-end-center o-flex-fill">
  <img src="assets/images/ontimize_web_log.png">
  <span class="info">Web application framework based on Angular for building business software.</span>
  <mat-divider></mat-divider>
  <span class="info">ontimize-web&#64;imatia.com</span>

  <div class="o-flex-row o-layout-align-space-evenly-stretch info-container">

    <div class="o-flex-row o-layout-align-end-stretch o-flex">
      <div class="o-flex-column o-layout-align-start-center">
        <span class="info-title">Links:</span>
        <div class="o-flex-row o-layout-align-center-center o-flex links" style="gap:16px">
          <a href="https://github.com/OntimizeWeb" aria-label="GitHub Repository" target="_blank">
            <img src="./assets/images/github.png" class="mat-icon">
          </a>
          <a href="https://ontimizeweb.github.io/docs/" aria-label="OntimizeWeb Docs" target="_blank">
            <img src="./assets/images/ontimize.png" class="mat-icon">
          </a>
        </div>
      </div>
    </div>

    <div class="o-flex-row o-layout-align-start-center o-flex">
      <div class="o-flex-column o-layout-align-center-start o-flex dependencies">
        <span class="info-title">OntimizeWeb modules:</span>
        <span>ontimize-web-ngx&#64;{{ vCore }}</span>
        <span>ontimize-web-ngx-charts&#64;{{ vCharts }}</span>
        <span>ontimize-web-ngx-filemanager&#64;{{ vFilemanager }}</span>
        <span>ontimize-web-ngx-map&#64;{{ vMap }}</span>
        <span>ontimize-web-ngx-report&#64;{{ vReport }}</span>
        <span>ontimize-web-ngx-extra-components&#64;{{ vExtraComponents }}</span>
      </div>
    </div>

  </div>

</div>
