<o-form-container breadcrumb="yes" breadcrumb-label-columns="name;surname" breadcrumb-separator=", " [form]="form">
  <mat-tab-group fxFill>

    <mat-tab label="{{ 'DATA' | oTranslate }}">
      <o-form #form attr="customers_form_edit" service="customers" entity="Customer" fxLayout="column" show-header="yes" header-actions="R;I;U;D"
        #oDetailForm keys="customerid" keys-sql-types="INTEGER" columns="id_dms_doc" show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

        <div o-form-toolbar-buttons>
          <button type="button" class="o-form-toolbar-button" mat-stroked-button (click)="fillReport($event)" attr="fillreport">
            <mat-icon>description</mat-icon>
            <span>{{ 'FILL_REPORT' | oTranslate }}</span>
          </button>
        </div>

        <o-row attr="row1" title="CUSTOMER_DATA" icon="person_pin">
          <div fxLayout="row wrap" fxLayoutGap="14px" fxFill>
            <o-image attr="photo" empty-image="./assets/images/no-image.png" width="350px" full-screen-button="true"></o-image>
            <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
              <o-nif-input #id attr="nif" width="160px" class="form-field"></o-nif-input>
              <o-text-input attr="name" width="160px" class="form-field"></o-text-input>
              <o-text-input attr="surname" width="160px" class="form-field"></o-text-input>
              <o-date-input attr="startdate" width="160px" class="form-field" format="DD/MM/YYYY" value-type="timestamp">
              </o-date-input>
              <o-combo attr="customertypeid" query-on-init="no" query-on-bind="yes" filter="yes" value-column="customertypeid" service="customerType"
               entity="Customertype" keys="customertypeid" columns="customertypeid;description" visible-columns="description" separator=" - "
                width="160px" class="form-field"></o-combo>
            </div>
          </div>
        </o-row>

        <o-column title="CONTACT_DATA" icon="info" class="vertical-margin-10">
          <div fxLayout="row wrap" fxLayoutGap="14px">
            <o-text-input attr="address" width="374px" class="form-field"></o-text-input>
            <o-text-input attr="country" class="form-field"></o-text-input>
            <o-text-input attr="state" class="form-field"></o-text-input>
            <o-text-input attr="zipcode" class="form-field"></o-text-input>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="14px">
            <o-email-input attr="email" width="374px" class="form-field"></o-email-input>
            <o-phone-input attr="phone" class="form-field"></o-phone-input>
          </div>
        </o-column>

        <o-column title="COMMENTS" icon="message" attr="row3" layout-align="start stretch">
          <o-textarea-input attr="comments" rows="4"></o-textarea-input>
        </o-column>
      </o-form>
    </mat-tab>

    <mat-tab label="{{ 'ACCOUNTS' | oTranslate }}">
      <o-form attr="customers_accounts_form_edit" service="customers" entity="Customer" fxLayout="column" show-header="no" keys="customerid"
        keys-sql-types="INTEGER">
        <o-table #accountsTable attr="customer_accounts" service="customeraccounts" entity="Customeraccount" parent-keys="customerid" keys="customeraccountid"
          detail-form-route="accounts" edit-form-route="accounts"
          columns="customeraccountid;entityid;officeid;cdid;anid;account;balance;customerid;startdate;enddate"
          visible-columns="account;balance;startdate;enddate" title="ACCOUNTS" sort-columns="startdate" query-on-init="false" query-rows="6"
          quick-filter="yes" pageable="no" insert-button="no" row-height="medium" class="vertical-padding-8">
          <o-table-column attr="account" title="ACCOUNT" class="o-table-column-centered"></o-table-column>
          <o-table-column attr="startdate" title="STARTDATE" type="date" format="LL"></o-table-column>
          <o-table-column attr="balance" title="BALANCE" type="currency" currency-symbol="€" currency-symbol-position="right" thousand-separator="."
            decimal-separator=",">
          </o-table-column>
          <o-table-column attr="enddate" title="ENDDATE" type="date" format="LL"></o-table-column>
        </o-table>
      </o-form>
    </mat-tab>

    <mat-tab label="{{ 'DOCUMENTS' | oTranslate }}">
      <o-form attr="customers_documents_form_edit" service="customers" entity="Customer" fxLayout="column" show-header="no" keys="customerid"
        keys-sql-types="INTEGER" columns="id_dms_doc">
        <!-- <o-filemanager-table service="customers" workspace-key="id_dms_doc" new-folder-button="yes"></o-filemanager-table> -->
      </o-form>
    </mat-tab>

  </mat-tab-group>
</o-form-container>
