<o-form fxLayout="column" #oForm service="branches" entity="account" keys="ACCOUNTID" columns="ENTITYID;OFFICEID;CDID;ANID"
  header-actions="R;U;D;I" label-header="ACCOUNTS" class="standalone-form-container">
  <o-row title="ACCOUNT_INFO">
    <o-text-input attr="ENTITYID" fxFlex layout-padding enabled="false"></o-text-input>
    <o-text-input attr="OFFICEID" fxFlex layout-padding></o-text-input>
    <o-text-input attr="CDID" fxFlex layout-padding></o-text-input>
    <o-text-input attr="ANID" fxFlex layout-padding></o-text-input>
  </o-row>
</o-form>
