<o-form class="o-flex-column" #oForm service="branches" entity="account" keys="ACCOUNTID" columns="ENTITYID;OFFICEID;CDID;ANID"
  header-actions="R;U;D;I" label-header="ACCOUNTS" class="standalone-form-container">
  <o-row title="ACCOUNT_INFO">
    <o-text-input attr="ENTITYID" class="o-flex" layout-padding enabled="false"></o-text-input>
    <o-text-input attr="OFFICEID" class="o-flex" layout-padding></o-text-input>
    <o-text-input attr="CDID" class="o-flex" layout-padding></o-text-input>
    <o-text-input attr="ANID" class="o-flex" layout-padding></o-text-input>
  </o-row>
</o-form>
