<div layout="column" layout-align="center top" layout-fill>
    <o-form layout="column" show-header="yes" label-header="ACCOUNTS" header-actions="R;U;D" entity="EAccounts"
      keys="ACCOUNTID" #oForm>
      <div layout="column" layout-fill>

        <div layout="row" layout-padding>

          <o-row attr="row1" title-label="ACCOUNT_NUMBER" elevation="1" flex>
            <o-text-input attr="ENTITYID" layout-padding class="account align-right"></o-text-input>
            <o-text-input attr="OFFICEID" layout-padding class="account align-right"></o-text-input>
            <o-text-input attr="CDID" layout-padding class="account align-right"></o-text-input>
            <o-text-input attr="ANID" layout-padding class="align-right"></o-text-input>
          </o-row>

          <div layout="row" layout-padding></div>

          <o-row attr="row2" title-label="BALANCE" elevation="1" flex>
            <o-currency-input attr="BALANCE" flex layout-padding class="align-right"></o-currency-input>
          </o-row>

          <div layout="row" flex></div>

        </div>

        <div layout="row" flex layout-padding>
          <o-table entity="EMovements" title="MOVEMENTS" columns="MOVEMENTID;DATE_;CONCEPT;MOVEMENT;MOVEMENTTYPES"
            visible-columns="DATE_;CONCEPT;MOVEMENT;MOVEMENTTYPES"
            keys="MOVEMENTID" parent-keys="ACCOUNTID" sort-columns="DATE_" query-on-init="false" query-rows="6"
            quick-filter="yes" detail-form-route="transactions">
            <o-table-column attr="DATE_" title="DATE_" type="date" format="LL"></o-table-column>
            <o-table-column attr="CONCEPT" title="CONCEPT"></o-table-column>
            <o-table-column attr="MOVEMENT" title="MOVEMENT" type="currency" currency-symbol="€" currency-symbol-position="right" thousand-separator="." decimal-separator=","></o-table-column>
            <o-table-column attr="MOVEMENTTYPES" title="MOVEMENTTYPES"></o-table-column>
          </o-table>
        </div>

      </div>
    </o-form>
</div>