<div fxFill fxLayout="column" fxLayoutAlign="center top">
  <o-datatable attr="employees" service="employees" entity="employee" title="EMPLOYEES" columns="EMPLOYEEID;EMPLOYEENAME;EMPLOYEESURNAME;EMPLOYEEADDRESS;EMPLOYEESTARTDATE;EMPLOYEEEMAIL"
    visible-columns="EMPLOYEENAME;EMPLOYEESURNAME;EMPLOYEEADDRESS;EMPLOYEESTARTDATE;EMPLOYEEEMAIL" keys="EMPLOYEEID" sort-columns="EMPLOYEESURNAME"
    query-rows="10" detail-mode="none">
    <!-- <o-datatable-column width="10px" attr="EMPLOYEEPHOTO" orderable="no" searchable="no">
      <o-datatable-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">
      </o-datatable-cell-renderer-image>
    </o-datatable-column> -->
    <o-datatable-column attr="EMPLOYEESTARTDATE" title="EMPLOYEESTARTDATE" type="date" format="LL">
    </o-datatable-column>
  </o-datatable>
</div>