@mixin employees-theme($theme) {
  $emp-icon-color: #b8b8b8;

  employees-home {
    .employee-item {
      .image-container .mat-divider {
        border-top-color: var(--o-accent-500);
      }

      .employee-data span .square {
        background-color: var(--o-accent-500);
      }
    }

    .o-column-collapsible.collapsible {
      .filter_style {
        border-color: var(--o-accent-500);
      }

      .o-container .o-container-title.mat-expansion-panel-header-title,
      .o-container .o-row-collapsible>.o-container .o-container-title.mat-expansion-panel-header-title {
        border-color: var(--o-fg-divider);
      }
    }
  }

  employees-detail {
    .mat-divider {
      border-top-color: var(--o-accent-500);
    }

    .employee-data span .mat-icon,
    .employee-type {
      color: $emp-icon-color;
    }
  }
}
