<o-form-layout-manager mode="tab" title="CUSTOMERS" label-columns="SURNAME;NAME" separator="," attr="o-form-layout-customer-home"
  title-data-origin="customers_form_edit">
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table fxFlex attr="customers" title="CUSTOMERS" service="customers" entity="customer" keys="CUSTOMERID" columns="CUSTOMERID;PHOTO;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL"
      visible-columns="PHOTO;NAME;SURNAME;STARTDATE;EMAIL;ADDRESS" sort-columns="SURNAME" query-rows="10" quick-filter="yes"
      row-height="medium" select-all-checkbox="true" pageable="yes" fixed-header="yes"  query-rows="25">

      <o-table-columns-filter columns="STARTDATE;SURNAME"></o-table-columns-filter>

      <o-table-column async-load="true" width="48px" attr="PHOTO" orderable="no" searchable="no" type="image"
        image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">
      </o-table-column>
      <o-table-column attr="NAME" title="NAME" orderable="no"></o-table-column>
      <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
      <o-table-context-menu></o-table-context-menu>
    </o-table>
  </div>
</o-form-layout-manager>
