<div fxFill fxLayout="column" fxLayoutAlign="center top" class="o-table-wrapper">

  <o-table
    entity="ECustomers" keys="CUSTOMERID"
    detail-button-in-row="yes"
    edit-button-in-row="yes"
    columns="CUSTOMERID;PHOTO;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL"
    visible-columns="PHOTO;NAME;SURNAME;STARTDATE;EMAIL"
    fxFlex layout-padding attr="customers" title="CUSTOMERS" show-table-buttons-text="yes" select-all-checkbox="yes" sort-columns="SURNAME"
    query-on-init="true" query-rows="10" quick-filter="yes" pageable="yes" row-height="medium">
    <o-table-column width="10px" attr="PHOTO" orderable="no" searchable="no" type="image" image-type="base64" empty-image="assets/images/no-image.png"
      avatar="yes">
    </o-table-column>
    <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
  </o-table>

</div>