<!-- <div fxFill fxLayout="column" fxLayoutAlign="start">
  <o-table fxFlex attr="customers" title="CUSTOMERS" service="customers" entity="customer" keys="CUSTOMERID" columns="CUSTOMERID;PHOTO;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL"
    visible-columns="PHOTO;NAME;SURNAME;STARTDATE;EMAIL;ADDRESS" sort-columns="SURNAME" query-rows="10" quick-filter="yes"
    pageable="no" row-height="medium">

    <o-table-column async-load="true" width="48px" attr="PHOTO" orderable="no" searchable="no" type="image" image-type="base64"
      empty-image="assets/images/no-image.png" avatar="yes">
    </o-table-column>
    <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
  </o-table>
</div> -->

<div fxFill fxLayout="column" fxLayoutAlign="start">
  <o-datatable fxFlex attr="customers" title="CUSTOMERS" service="customers" entity="customer" keys="CUSTOMERID" columns="CUSTOMERID;PHOTO;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL"
    visible-columns="PHOTO;NAME;SURNAME;STARTDATE;EMAIL;ADDRESS" sort-columns="SURNAME" query-rows="10" quick-filter="yes"
    pageable="no" row-height="medium">

    <o-datatable-column async-load="true" width="2px" attr="PHOTO" orderable="no" searchable="no" type="image" image-type="base64"
      empty-image="assets/images/no-image.png" avatar="yes">
    </o-datatable-column>
    <o-datatable-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-datatable-column>
  </o-datatable>
</div>
