@mixin login-theme($theme) {

  .login-outer-container {
    background-color: var(--o-bg-background);

    .wrapp-login {
      background-color: var(--o-bg-card);

      .login-inner-container {
        background-color: var(--o-bg-card);

        .logo-container {
          background-color: var(--o-bg-card);
        }

        .session-expired {
          color: #f44336;
        }

        .title_text,
        .login_info {
          color: var(--o-fg-text);
        }

        .link_text {
          color: var(--o-primary-500);
        }
      }

    }
  }

  .footer-container {
    background-color: var(--o-primary-500);

    div {
      span {
        color: white;
      }
    }
  }

}
