<div layout="column" layout-align="center top" layout-margin>

  <o-table attr="accounts" entity="EAccounts" title="ACCOUNTS"
      columns="ACCOUNTID;ENTITYID;OFFICEID;CDID;ANID" visible-columns="ENTITYID;OFFICEID;CDID;ANID"
      sort-columns="ANID" keys="ACCOUNTID" query-on-init="true" query-rows="6" quick-filter="yes">
    <o-table-column attr="ENTITYID" title="ENTITYID"></o-table-column>
    <o-table-column attr="OFFICEID" title="OFFICEID"></o-table-column>
    <o-table-column attr="CDID" title="CDID"></o-table-column>
    <o-table-column attr="ANID" title="ANID"></o-table-column>
  </o-table>

</div>