.reports-card {
  display: block !important;
  height: 100%;
  margin: auto;
  overflow: hidden;

  .reports-card-chart > div > nvd3 {
    > svg line {
      display: none;
    }

    .nvd3.nv-multibarHorizontal .nv-groups text {
      font-size: 24px;
    }
  }
}
