@mixin main-theme($theme) {

  .container {
    background-color: var(--o-bg-card);
  }

  .branches-card-branches-amount,
  .employees-card-employees-amount,
  .o-card-menu-item [ngx-charts-bar-label] text.textDataLabel {
    font-size: var(--o-font-headline-5-size);
    font-weight: 600;
  }

  .o-card-menu-item {
    .textDataLabel {
      font-family: var(--o-font-family);
    }
  }

  .card-title {
    color: var(--o-fg-text);
    font-size: var(--o-font-subtitle-1-size);
    font-weight: var(--o-font-subtitle-1-weight);
    margin: 12px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .branches-card-branches-amount,
  .employees-card-employees-amount {
    color: var(--mat-sys-primary);
  }

  .o-card-menu-item div ngx-charts-bar-horizontal .textDataLabel {
    fill: var(--mat-sys-primary);
    font-family: var(--o-font-family);
  }

  .theme-option-background {
    .mat-icon.mat-accent {
      color: var(--mat-sys-on-tertiary-container);
    }
  }
}
