// /*
// * Choose one of the following imports
// */
// // @import 'node_modules/ontimize-web-ngx-theming/src/themes/mat-indigo-pink.scss';
// // @import 'node_modules/ontimize-web-ngx-theming/src/themes/mat-deeppurple-amber.scss';
// // @import 'node_modules/ontimize-web-ngx-theming/src/themes/mat-pink-bluegrey.scss';
// // @import 'node_modules/ontimize-web-ngx-theming/src/themes/mat-purple-green.scss';
// @import 'node_modules/ontimize-web-ngx-theming/src/themes/ontimize.scss';
// @import 'node_modules/ontimize-web-ngx-theming/ontimize-theme.scss';
// @include ontimize-theme-styles($theme);

@import 'node_modules/ontimize-web-ngx-theming/ontimize-theme-lite.scss';
@include ontimize-theme-styles-lite($theme);

/*
* After define theme, it is necessary to transfer color to Ontimize Web framework
*/
@import 'node_modules/ontimize-web-ngx/theme.scss';
@include o-material-theme($theme, $lite-typography);
@import 'node_modules/ontimize-web-ngx-filemanager/o-filemanager-table-theme.scss';
@include o-filemanager-table-theme($theme);
/*
* Propagate theme to screen styles definition.
*/
@import '../../app/login/login.theme.scss';
@include login-theme($theme);

/*
* Other app styles
*/
