<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ontimize Web QuickStart</title>

  <base href="./">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Manifest for PWA -->
  <link rel="manifest" id="manifest-file">
  <meta name="theme-color" content="#242424">

  <!-- Styling -->
  <link rel="stylesheet" type="text/css" href="./assets/css/loader.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/app.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>

<body>
  <!-- Loader -->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!-- The application tag-->
  <o-app></o-app>
  <script>
    var linkManifest = document.querySelector('#manifest-file');
    window.innerWidth < 960
      ? linkManifest.setAttribute('href', './manifest-mobile.json')
      : linkManifest.setAttribute('href', './manifest.json');
  </script>

  <noscript>
    <h3>Sorry, but app is not avaliable without JavaScript</h3>
  </noscript>

</body>

</html>