<div fxLayout="row" fxFill fxLayoutAlign="space-between center" [formGroup]="getFormGroup()" [mdTooltip]="tooltip" [mdTooltipPosition]="tooltipPosition"
[mdTooltipShowDelay]="tooltipShowDelay">
    <md-form-field #innerInputContainer fxFlex fxFill>
        <input mdInput [mdDatepicker]="d"  [attr.id]="oattr" [id]="oattr" fxFill [formControlName]="oattr"
        [placeholder]="placeHolder"  #mdInput  
        [readonly]="isReadOnly"  [disabled]="isDisabled"
        [ngModel]="getValueAsDate()"  
        [mdDatepickerFilter]="filterDate"
       
        >
       <!-- (blur)="onDisplayInputBlur($event)" (change)="called()" -->
        <md-datepicker #d ></md-datepicker>
     
        <md-hint *ngIf="!isReadOnly && _fControl.touched && _fControl.errors">
           <span *ngIf="getFormControl().errors?.required"> {{'FORM_VALIDATION.REQUIRED' | oTranslate}}</span>
           <span *ngIf="getFormControl().errors?.mdDatepickerParse"> {{ 'FORM_VALIDATION.DATE_PARSE' | oTranslate}} {{oformat}}  </span>
           <span *ngIf="getFormControl().errors?.mdDatepickerFilter"> {{ 'FORM_VALIDATION.DATE_FILTER' | oTranslate}}  </span>
           <span *ngIf="getFormControl().errors?.mdDatepickerMin"> {{ 'FORM_VALIDATION.DATE_MIN' | oTranslate}}  </span>
           <span *ngIf="getFormControl().errors?.mdDatepickerMax"> {{ 'FORM_VALIDATION.DATE_MAX' | oTranslate}}  </span>
           
        </md-hint>
     
    </md-form-field>
    <span class="icon-btn" (click)="open()"
    [class.mat-disabled]="isDisabled" ><i class="material-icons">today</i></span>
    
    
</div>