<div fxFill fxLayout="column" fxLayoutAlign="center top" class="o-table-wrapper">
  <o-datatable
    service="branches" entity="account" keys="ACCOUNTID"

    columns="ACCOUNTID;ENTITYID;OFFICEID;CDID;ANID;BALANCE;STARTDATE;ENDDATE;INTERESRATE;ACCOUNTTYP"
    visible-columns="ENTITYID;OFFICEID;CDID;ANID;ACCOUNTTYP"
    fxFlex layout-padding attr="accounts" title="ACCOUNTS"
    sort-columns="ANID"  query-rows="15"
    quick-filter="yes" pageable="no">

   <o-datatable-column attr="ENTITYID" title="ENTITYID" width="14%" class="o-table-column-centered"></o-datatable-column>
   <o-datatable-column attr="OFFICEID" title="OFFICEID" width="14%" class="o-table-column-centered"></o-datatable-column>
   <o-datatable-column attr="CDID" title="CDID" width="14%" class="o-table-column-centered"></o-datatable-column>
   <o-datatable-column attr="ANID" title="ANID" width="14%" class="o-table-column-centered"></o-datatable-column>

  </o-datatable>

</div>