<mat-sidenav-container class="mat-sidenav-container-accounts-home">
  <mat-sidenav #sidenav opened [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
    class="mat-sidenav-filters">
    <!--FILTERS-->
    <o-form #formFilter editable-detail="no" show-header="no">
      <div fxLayout="column" fxLayoutGap="26px" class="accounts-filters">
        <o-text-input #entityid attr="ENTITYID" read-only="no"></o-text-input>
        <o-text-input attr="OFFICEID" read-only="no"></o-text-input>
        <o-combo attr="ACCOUNTTYPEID" read-only="no" service="branches" entity="accountTypeAggregate"
          columns="ACCOUNTTYPEID;ACCOUNTTYPENAME" value-column="ACCOUNTTYPEID" keys="ACCOUNTTYPEID"
          visible-columns="ACCOUNTTYPENAME"></o-combo>
        <o-text-input attr="ANID" read-only="no"></o-text-input>
        <div class="container-date" fxLayout="column" fxLayoutGap="26px">
          <o-date-input attr="STARTDATE" read-only="no"></o-date-input>
          <o-date-input attr="ENDDATE" read-only="no"></o-date-input>
        </div>
        <span class=" label-balance">{{'FILTER_BALANCE' | oTranslate}}</span>
        <o-slider attr="BALANCE" read-only="no" min="0" max="100000" step="1000" thumb-label="true"
          [display-with]="formatLabelSlider"></o-slider>


        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
          <o-button attr="applyfilter" type="STROKED" label="APPLY_FILTER" (click)="filterAccounts()">
          </o-button>
          <o-button attr="deletefilter" type="BASIC" icon="delete" (click)="clearFilterAccounts()"
            label="DELETE_FILTER">
          </o-button>
        </div>
      </div>
    </o-form>
  </mat-sidenav>
  <!---->
  <mat-sidenav-content class="mat-sidenav-content">

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
      <o-button (click)="sidenav.toggle()" icon="filter_list" type="STROKED" label="FILTER"> </o-button>
      <o-button (click)="listAccount.reloadData()" label="REFRESH" type="STROKED" icon="refresh"> </o-button>
    </div>

    <div style="height: calc(100% - 36px)">
      <o-list #listAccount service="branches" entity="account" keys="ACCOUNTID"
        columns="ACCOUNTID;ENTITYID;OFFICEID;CDID;ANID;BALANCE;STARTDATE;ENDDATE;INTERESRATE;ACCOUNTTYP;ACCOUNTTYPEID"
        class="list-accounts" controls="no" pageable="yes" [fxFlex.gt-lg]="list-accounts-60">
        <mat-card *ngFor="let account of listAccount.dataArray" o-list-item>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="14px" fxFlex="60" fxFlex.lt-lg="100"
              class="info-account" ngClass.lt-lg="border-bottom" ngClass="border-right">
              <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlexFill>
                <div fxLayout="row" class="info-iban" fxFlexFill fxLayoutGap="12px">
                  <label>{{'ACCOUNT_NUMBER'| oTranslate}}</label>
                  <span>{{account.ENTITYID}} {{account.OFFICEID}} {{account.CDID}} {{account.ANID}}</span>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlexFill>
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px" fxFlex="25">
                    <label>{{'ENTITYID'| oTranslate}}</label>
                    <span>{{account.ENTITYID}}</span>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px" fxFlex="25">
                    <label>{{'CDID'| oTranslate}}</label>
                    <span> <span>{{account.CDID}}</span></span>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px" fxFlex="50">
                    <label><label>{{'ACCOUNTTYP'| oTranslate}}</label></label>
                    <span> <span>{{account.ACCOUNTTYP}}</span></span>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlexFill>
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px" fxFlex="25">
                    <label>{{'OFFICEID'| oTranslate}}</label>
                    <span>{{account.ENTITYID}}</span>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px" fxFlex="25">
                    <label>{{'ACCOUNTTYPEID'| oTranslate}}</label>
                    <span> <span>{{account.ACCOUNTTYPENAME}}</span></span>
                  </div>
                </div>
              </div>
            </div>



            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="40" fxFlex.lt-lg="100" class="balance-account">
              <label>{{'AVAILABLE_BALANCE'| oTranslate}}</label>
              <span>{{account.BALANCE | oReal: { grouping: true, minDecimalDigits: 2, maxDecimalDigits: 2 } }}
                €</span>
              <div fxLayout="row" fxLayoutAlign="end" fxFill>
                <span class="date">{{account.STARTDATE | date:'longDate'}} </span>
              </div>
            </div>
          </div>

        </mat-card>
      </o-list>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>