<div layout="column" layout-align="center top" layout-fill>
  <o-form layout="column" show-header="yes" label-header="ACCOUNTS" header-actions="R;U;D" entity="EAccounts" keys="ACCOUNTID"
    #oForm>
    <div layout="column" layout-fill>

      <div layout="row" layout-padding>

        <o-column layout-align="start stretch" title-label="ACCOUNT_INFO" elevation="1">
          <!--title-label="ACCOUNT_NUMBER" elevation="1"-->
          <o-row attr="row1">
            <o-text-input attr="ENTITYID" layout-padding class="account align-right"></o-text-input>
            <o-text-input attr="OFFICEID" layout-padding class="account align-right"></o-text-input>
            <o-text-input attr="CDID" layout-padding class="account align-right"></o-text-input>
            <o-text-input attr="ANID" layout-padding class="align-right"></o-text-input>
          </o-row>
          <!-- title-label="BALANCE" elevation="1" -->
          <o-row attr="row2">
            <o-currency-input attr="BALANCE" flex layout-padding class="align-right"></o-currency-input>
          </o-row>
          <div layout="row" layout-padding flex></div>
        </o-column>

        <div layout="row" layout-padding></div>

        <o-column layout-align="start stretch" elevation="1" flex>
          <!--<o-chart type="pie" layout-fill [data]="data" x-axis="MOVEMENTTYPES" y-axis="MOVEMENT" parent-keys="ACCOUNTID"></o-chart>-->
        </o-column>
      </div>

      <div layout="row" flex layout-padding>
        <o-table entity="EMovements" title="MOVEMENTS" columns="MOVEMENTID;DATE_;CONCEPT;MOVEMENT;MOVEMENTTYPES" visible-columns="DATE_;CONCEPT;MOVEMENT;MOVEMENTTYPES"
          keys="MOVEMENTID" parent-keys="ACCOUNTID" sort-columns="DATE_" query-on-init="false" query-rows="6" select-all-checkbox="false"
          quick-filter="yes" detail-form-route="transactions" (change)="onTableDataChange($event)" pageable="yes" edit-form-route="transactions"
          edit-button-in-row="true">

          <o-table-column attr="DATE_" title="DATE_" type="date" format="LL"></o-table-column>
          <o-table-column attr="MOVEMENT" title="MOVEMENT" type="currency" currency-symbol="€" currency-symbol-position="right" thousand-separator="."
            decimal-separator=","></o-table-column>
        </o-table>
      </div>
      <div layout="row" flex layout-padding>
        <!--<o-chart type="line" x-label="Time" y-label="Amount (€)" layout-fill [data]="lineData" x-axis="DATE_" y-axis="BALANCE;MOVEMENT"
          x-data-type="time" parent-keys="ACCOUNTID"></o-chart>-->
      </div>
    </div>
  </o-form>
</div>