.accounts-detail {
  display: block;
  height: 100%;

  .o-form-container-content,
  form {
    height: 100%;
  }

  .account-form-label {
    font-size: 80%;
  }

  .account-form-value {
    padding-bottom: 6px;
    padding-left: 8px;
    text-align: right;

    &.balance {
      font-size: 200%;
    }
  }

  .data-container {
    height: 75%;
    margin-bottom: auto;
    margin-top: auto;
  }

  .customers {
    .customers-list-title {
      color: #BCBCBE;
      font-size: 80%;
      font-weight: normal;
    }

    .mat-list .mat-list-item {
      height: 32px;
    }
  }

  .movement-list.o-list {
    max-height: 400px;

    .movement-list-item.mat-list-item {
      border-style: solid;
      border-width: 0 0 0 5px;
      margin: 8px;

      .mat-list-icon {
        height: 46px;
        padding: 0;
        width: 46px;
      }

      .mat-list-item-content {
        border-style: solid;
        border-width: 1px 1px 1px 0;
        padding: 0 13px 0 19px;

        .mat-list-text {
          padding-left: 28px;

          .concept {
            font-size: 18px;
            font-weight: bold;
          }

          .date {
            opacity: .5;
          }
        }

        .amount {
          font-size: 24px;
          font-weight: bold;
          white-space: nowrap;
        }
      }
    }
  }

  o-chart.movements-chart {
    margin: auto 0;

    .nv-pie path {
      fill-opacity: .9;
    }

    .nv-pie .hover path {
      fill-opacity: 1;
    }

    .nv-label text {
      fill: #e0e0e0 !important;
    }
  }
}
