<o-form-container breadcrumb="yes" breadcrumb-label-columns="ENTITYID;OFFICEID;CDID;ANID" breadcrumb-separator="-">
  <div fxLayout="column" fxFill class="account-detail">
    <o-form editable-detail="false" service="branches" entity="account" keys="ACCOUNTID" columns="ACCOUNTID;BALANCE;ENTITYID;OFFICEID;CDID;ANID;ACCOUNTTYP"
      fxLayout="column" show-header="yes" header-actions="R;U;D" #oForm (onFormDataLoaded)="onFormDataLoaded($event)" [label-header]="formLabel"
      show-header-navigation="yes">

      <o-column attr="main_column" layout-align="center stretch">

        <div fxLayout="row">
          <o-row attr="row1" fxFlex layout-padding layout-align="space-between center" class="rounded-panel" title-label="ACCOUNT">

            <o-column layout-align="center center" fxFlex="50">
              <div fxLayout="column" fxLayoutAlign="center start">
                <span class="account-detail-span-title">{{ 'BALANCE' | oTranslate | uppercase }}</span>
                <span class="account-detail-balance">{{ oForm.getDataValue('BALANCE').value | oReal: {grouping:true, minDecimalDigits:2, maxDecimalDigits:2} }}
                  €</span>
              </div>
            </o-column>

            <o-column layout-align="center start" fxFlex="50" class="customer-list-container">

              <div fxLayout="row" fxLayoutAlign="start center">
                <span class="account-detail-span-title">{{ 'CUSTOMERS' | oTranslate | uppercase }}</span>
                <mat-icon class="account-detail-add-customer" (click)="onAddCustomerClick()">add_circle_outline</mat-icon>
              </div>

              <o-list #customerList service="customers" entity="customerAccount" keys="CUSTOMERACCOUNTID" columns="CUSTOMERACCOUNTID;CUSTOMERID;ACCOUNTID;NAME;SURNAME;ID"
                query-on-init="no" query-on-bind="yes" title="" refresh-button="no" insert-button="no" selectable="false" quick-filter="false"
                dense="yes" pageable="no" controls="no">
                <mat-list-item *ngFor="let row of customerList.dataArray">
                  <h4 mat-line>{{row.NAME}} {{ row.SURNAME }}</h4>
                  <mat-icon mat-list-icon (click)="onRemoveCustomerClick(row)">delete</mat-icon>
                </mat-list-item>
              </o-list>

              <o-list-picker attr="customersPicker" class="display-none" (onChange)="onNewCustomerSelected($event)" #customerListPicker
                query-on-init="no" automatic-binding="no" query-on-bind="no" [static-data]="availableCustomersToAdd" required="no"
                enabled="yes" filter="yes" keys="CUSTOMERID" value-column="CUSTOMERID" parent-keys="ACCOUNTID" columns="ID;NAME;SURNAME"
                visible-columns="ID;NAME;SURNAME" separator=" - " dialog-width="500px">
              </o-list-picker>
            </o-column>

          </o-row>
        </div>

        <div fxLayout="row" class="vertical-padding-8">
          <div fxLayout="row" fxFlex class="rounded-panel">
            <o-column layout-align="center center" layout-padding title-label="ACCOUNT_TRANSACTIONS_CHART" fxFlex="35">
              <o-chart #pieChart chart-height="350" type="pie" [data]="data" x-axis="MOVEMENTTYPES" y-axis="MOVEMENT" parent-keys="ACCOUNTID">
              </o-chart>
            </o-column>
            <o-column layout-align="center center" layout-padding title-label="ACCOUNT_BALANCE_CHART" fxFlex="65" class="line-chart">
              <o-chart chart-height="350" type="line" x-label="{{ 'TIME' | oTranslate }}" y-label="{{ 'AMOUNT' | oTranslate }}" fxFill
                [data]="lineData" x-axis="DATE_" y-axis="BALANCE;MOVEMENT" x-data-type="time" parent-keys="ACCOUNTID">
              </o-chart>
            </o-column>
          </div>
        </div>

        <div fxLayout="row">
          <div fxLayout="row" fxFlex class="rounded-panel" layout-padding>
            <o-table fxFlex service="movements" entity="movement" keys="MOVEMENTID" parent-keys="ACCOUNTID" detail-form-route="transactions"
              insert-form-route="transactions/new" edit-form-route="transactions" columns="ACCOUNTID;MOVEMENTID;DATE_;CONCEPT;MOVEMENT;MOVEMENTTYPES"
              visible-columns="DATE_;CONCEPT;MOVEMENT;MOVEMENTTYPES" title="MOVEMENTS" sort-columns="DATE_" query-on-init="false"
              query-rows="5" quick-filter="yes" (change)="onTableDataChange($event)" pageable="no">

              <o-table-columns-filter></o-table-columns-filter>

              <o-table-column attr="DATE_" title="DATE_" type="date" format="LL" width="30%"></o-table-column>
              <o-table-column attr="CONCEPT" title="CONCEPT" width="18%"></o-table-column>
              <o-table-column attr="MOVEMENT" title="MOVEMENT" width="18%" type="currency" currency-symbol="€" currency-symbol-position="right"
                thousand-separator="." decimal-separator=","></o-table-column>
              <o-table-column attr="MOVEMENTTYPES" title="MOVEMENTTYPES">
                <movement-types-cell-renderer>
                </movement-types-cell-renderer>
              </o-table-column>
            </o-table>
          </div>
        </div>
      </o-column>
    </o-form>
  </div>
</o-form-container>
