<o-form fxLayout="column" show-header="yes" label-header="BRANCHES" header-actions="R;I;U;D" entity="EBranches" keys="OFFICEID"
  #oForm columns="OFFICEID;NAME;ADDRESS;STARTDATE;DETAILS;PHONE;OFFICEXML;BRANCHPLAN;MINLATITUDE;MAXLATITUDE;MINLONGITUDE;MAXLONGITUDE;GEOMETRYLAYOUT">

  <div fxLayout="row" fxFill>
    <o-column class="rounded-panel" fxFill layout-align="start start" title-label="BRANCH_INFO">
      <div fxLayout="row" fxLayoutAlign="start center" fxFill>
        <o-text-input attr="OFFICEID" fxFlex="20" class="horizontal-padding-8"></o-text-input>
        <o-text-input attr="PHONE" fxFlex="15" class="horizontal-padding-8"></o-text-input>
        <o-date-input attr="STARTDATE" fxFlex="15" class="horizontal-padding-8"></o-date-input>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
        <o-text-input attr="NAME" fxFlex="35" class="horizontal-padding-8"></o-text-input>
        <o-text-input attr="ADDRESS" fxFlex="65" class="horizontal-padding-8"></o-text-input>
      </div>
    </o-column>
  </div>
</o-form>