<o-form class="o-flex-column" show-header="yes" header-actions="R;I;U;D" service="branches" entity="branch" keys="OFFICEID" #oForm
  columns="OFFICEID;NAME;ADDRESS;STARTDATE;DETAILS;PHONE;OFFICEXML;BRANCHPLAN;MINLATITUDE;MAXLATITUDE;MINLONGITUDE;MAXLONGITUDE;GEOMETRYLAYOUT" layout-align="start stretch">

  <o-column class="rounded-panel o-flex-fill" title="BRANCH_INFO">
    <div class="o-flex-row gap">
      <o-text-input attr="OFFICEID" style="flex:0 0 20%" class="margin-right-24"></o-text-input>
      <o-text-input attr="PHONE" style="flex:0 0 15%" class="margin-right-24"></o-text-input>
      <o-date-input attr="STARTDATE" style="flex:0 0 15%" class="margin-right-24"></o-date-input>
    </div>
    <div class="o-flex-row">
      <o-text-input attr="NAME" style="flex:0 0 35%" class="margin-right-24"></o-text-input>
      <o-text-input attr="ADDRESS" style="flex:0 0 65%" class="margin-right-24"></o-text-input>
    </div>
  </o-column>

</o-form>
