o-breadcrumb.o-breadcrumb {
  padding-bottom: 0;

  .mat-toolbar {
    background: none;
    box-shadow: none;
  }
}

.rounded-panel,
.standalone-chart-container,
.standalone-form-container .o-form-content-wrapper,
.ontimize-table.o-table .expandable-container,
o-form-toolbar .mat-toolbar {
  border-radius: 2px;
  box-shadow: none;
}

.mat-tab-group.o-tab-ontimize > .mat-tab-header .mat-tab-label-container .mat-tab-label {
  border-radius: 2px;
}
